@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.Poppins {
    font-family: 'Poppins', sans-serif;
}

.gras {
    font-weight: bold;
    font-size: large;
}

.gras:hover {
    font-weight: bold;
    font-size: large;
    color: #03c04a;
}

.sgras {
    font-weight: bold;
}

.vert {
    color: #03c04a;
}

a:link {
    text-decoration: none;
}

.sp {
    margin-left: 2px;
}

.b {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.15);
}

.banner {
    background-color: #03c04cb4;
    background-size: cover;
}

.title {
    font-size: xx-large;
}

.bol {
    font-weight: bold;
    font-size: x-large;
}

.shad {
    background-color: rgba(0, 0, 0, 0.404);
    height: auto;
    width: auto;
}

.round {
    height: 300px;
    width: 300px;
    border-radius: 400px;
}

.bck {
    background-color: #03c04a;
}

.bck:hover {
    background-color: #40e67f;
}